header {
    
    position: absolute;
    top: 0;
    left: 0;
}

header.banner {
    width: 100%; /* Full-width header */
    line-height: 0;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: hsla(16, 96%, 90%, 0.25);

    height: var(--banner-height);
    z-index:99999;
    background-color: var(--banner-color); /* Use the primary color for the background */
    justify-content: space-between;

    display: flex; /* Flexbox for layout */
    flex-flow:row wrap; /* (flex-direction and flex-wrap) sets direction to horizontal (is on row by default)*/

    align-items: center; /* Vertically center the items */
    
}

.banner-title-logo {
    display: flex; /* Flexbox to organize header elements horizontally */
    justify-content: flex-end; /* Align content horizontally to the right */
    align-items: center; /* Vertically center all elements inside */
    gap: 1vw; /* Add spacing between the header elements */
    padding-left: 2vw;

    color: var(--text-color);
    
    margin-left: 0;
}

.banner-links {
    padding-right: 5%;
}

.banner-image {
    max-height: 60px; /* Restrict image height for consistent scaling */
    object-fit: contain; /* Maintain aspect ratio without distortion */
}

.banner-title {
    font-family: var(--heading-font);
    font-size: 1.8rem; /* Make the title text slightly larger */
    font-weight: 700;
    margin: 0; /* Remove default margin */
    color: var(--title-color); /* Use the global text color variable */
}

.banner-navigation {
    display: flex; /* Layout navigation links horizontally */
    gap: 15px; /* Add spacing between navigation items */
}
