.page-buttons {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
}

.previous-page {
  grid-column: 1;
  justify-self: start;
  min-width: 10rem;
  
  margin: 2rem;
}

.next-page {
  grid-column: 3;
  justify-self: end;
  min-width: 10rem;
  
  margin: 2rem;
}