.page-buttons {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
}

.previous-page {
  grid-column: 1;
  justify-self: start;

  background-color: var(--golden-color);
  margin: 2rem;
}

.next-page {
  grid-column: 3;
  justify-self: end;

  background-color: var(--golden-color);
  margin: 2rem;
}
