.page-title {
  text-align: center; /* Align text in the greeting section to the left */

  position: relative;
  color: var(--text-color);
  font-weight: 700;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.updateDate {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 2rem;
}
